<section role="main">
  {{ if alt_title }}
  <h2>{{ alt_title }}{{ if get:page > 0 }} &ndash; Page {{ get:page }}{{ endif }}</h2>
  {{ else }}
  <h2>{{ title }}{{ if get:page > 0 }} &ndash; Page {{ get:page }}{{ endif }}</h2>
  {{ endif }}
  {{ content }}
  <div class="contact-form">
    {{ theme:partial src="_contact_form" }}
  </div>
</section><!-- END role="main" -->

{{#
====================================
  NOTES
====================================

This template requires Raven to be installed to work. All the form code is in the _contact_form partial.

#}}
