<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">

{{ theme:partial src="site/_meta" }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{# Hide from search engines whilst in dev mode. #}}
{{ if hide_site }}
<meta name="robots" content="noindex">
{{ endif }}

{{ if permalink }}
<link rel="canonical" href="{{ permalink }}">
{{ endif }}

{{# Place favicon.ico and apple-touch-icon.png in the root directory. #}}

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}feed" title="{{ _site_name }} RSS Feed">

<!-- styles -->
<link rel="stylesheet" href="{{ theme:asset src="bower_components/normalize-css/normalize.css" }}">
<!--[if gte IE 8]><!-->
<link rel="stylesheet" href="{{ theme:css }}">
<!--<![endif]-->

<!-- scripts -->
<script src="{{ theme:asset src="bower_components/modernizr/modernizr.js" }}"></script>

<!-- analytics -->
{{ theme:partial src="site/_analytics" }}

</head>
