<footer role="contentinfo" class="site__footer">
  <div class="constrain">
    <small>&copy; {{ current_date format="Y" }} <a href="{{ _site_root }}">{{ _site_name }}</a> Powered by <a href="http://statamic.com">{{ noparse }}{{ statamic }}{{ /noparse }}</a></small>
  </div><!-- END .constrain -->
</footer>

{{#
====================================
  NOTES
====================================

This is the main footer partial.

For more information on partials see http://statamic.com/learn/theming/partials.

#}}
