{{ entries:listing folder="{fold}" limit="{lim}" taxonomy="{tax}" }}
<article>
  <h2><a href="{{ url }}">{{ title }}</a></h2>
  <time pubdate datetime="{{ datestamp format="Y-m-d" }}">{{ date }}</time>

  {{ if categories_list && tags_list }}
  <p>Filed under: {{ categories_url_list }} and tagged with: {{ tags_url_list }}</p>
  {{ endif }}

  {{ if categories_list && !tags_list }}
  <p>Filed under: {{ categories_url_list }}</p>
  {{ endif }}

  {{ if !categories_list && tags_list }}
  <p>Tagged with: {{ tags_url_list }}</p>
  {{ endif }}

  {{ summary|markdown }}

</article>
{{ /entries:listing }}

{{# Add simple pagination: limit must equal entries limit #}}

{{ entries:pagination folder="blog" limit="{lim}" taxonomy="{tax}" }}
{{ if total_items > "{lim}" }}
<div class="pagination">
  {{ if previous_page }}
    <a href="{{ previous_page }}" class="prev">Previous Page</a>
  {{ endif }}
  {{ if next_page }}
    <a href="{{ next_page }}" class="next">Next Page</a>
  {{ endif }}
</div>
{{ endif }}
{{ /entries:pagination }}

{{# 
====================================
  NOTES
====================================

This partial displays an article listing. The partials are designed so that you can use them modularly in your templates. The variables which are used in the entries listing tag are set in the template which calls the partial e.g. look in the default template you will see three variables: fold, lim, and tax. It is here where you set thos value to whichever folder name the articles are reading from e.g. blog, the number of articles to display (lim) and wherether you are displaying taxonomies or not.

For more information on partials see http://statamic.com/docs/core-template-tags/theme-helpers#partial.

#}}