<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">
{{ theme:partial src="_meta" }}

{{# Uncomment for responsive sites.
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#}}

{{# Place favicon.ico and apple-touch-icon.png in the root directory. #}}

{{# Change the name of statarkers to the name of your theme. #}}
<!--[if gte IE 8]><!-->
<link rel="stylesheet" href="{{ theme:css src='statarkers' }}">
<!--<![endif]-->

<!--[if lte IE 7]>
<link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
<![endif]-->

{{# Change the title to the name of your feed. #}}
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}/feed" title="The Name of Your Feed">

<script src="{{ theme:js src="libs/modernizr_dev" }}"></script>

{{ theme:partial src="_analytics" }}

</head>