// =====================================
// SITE FORM MODULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

form {
  width: 100%;
  padding: 2em;
  @include clearfix;
  border-radius: 0.2em;
  -webkit-appearance: none;
  background-color: $formBg;
  border: 0.1em solid $formBorderColor;
  input[type], textarea { color: $cs-font; }
  div { margin-bottom: 1em; }
}
label { cursor: pointer; }
fieldset {
  padding-top: 1em;
  margin-bottom: 2em;
  border-radius: 0.2em;
  border-color: $formBorderColor;
  background-color: $lighterGrey;
}

input[type],
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid $formBorderColor;
}
input[type="checkbox"] { width: auto; }
.success { color: $cs-a1; }
