// =====================================
// HELPER RULES
// =====================================

// A collection of simple generic classes and Sass helpers.

// PLACEHOLDERS ================================================================

%list--unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
// END PLACEHOLDERS ============================================================

.lead { font-size: 1.1em; }
.list--unstyled { @extend %list--unstyled; }
.list--indent { padding-left: 0.5em; }
.hide, .screen-reader-text {
  top: -9999px;
  left: -9999px;
  position: absolute;
}
.text--left { text-align: left; }
.text--right { text-align: right; }
.text--center { text-align: center; }
.spacer {
  margin-top: 3em;
  margin-bottom: 3em;
}

.icon-alone {
  display: inline-block; // Fix for clickability issue in WebKit
}

.screen-reader-text, .ir { @include hide-text; }
.vh {
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.is-hidden { display: none; }

.text--success {
  color: $cs-alert-success;
  &:link, &:visited { color: $cs-alert-success; }
  &:hover, &:active, &:focus { color: $cs-alert-success; }
}

.text--warning {
  color: $cs-alert-warning;
  &:link, &:visited { color: $cs-alert-warning; }
  &:hover, &:active, &:focus { color: $cs-alert-warning; }
}
.text--danger {
  color: $cs-alert-danger;
  &:link, &:visited { color: $cs-alert-danger; }
  &:hover, &:active, &:focus { color: $cs-alert-danger; }
}

.tel,
.email {
  &:link, &:visited { text-decoration: none; }
  &:hover, &:active, &:focus { text-decoration: underline; }
}

.nav {
  a {
    &:link, &:visited { text-decoration: none; }
    &:hover, &:active, &:focus { text-decoration: none; }
  }
}
.nav--spaced-vertical {
  li {
    margin-bottom: 0.5em;
    &:last-child { margin-bottom: 0; }
  }
}

.clear { clear: both; }

.list--dashed {
  li {
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    border-bottom: 0.1em dashed $lighterGrey;
  }
}

.item--highlight {
  color: $cs-a1;
  &:link, &:visited { color: $cs-a1; }
  &:hover, &:active, &:focus { color: $cs-a1; }
}

// IMAGES
// =============================================================================

.img--rounded {
  border-radius: 0.3em;
}
.img--circle {
  border-radius: 50%;
}

.img--thumbnail {
  @include transition(0.2s);
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 0.3em;
  background-color: $white;
  border: 1px solid $lighterGrey;
}

// TABLET
// =============================================================================

@include mq($from: tablet) {
  .left { float: left; }
  .right { float: right; }
  .list--inline > li {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    &:first-child { padding-left: 0; }
  }
  .lead { font-size: 1.2em; }
}

// DESKTOP
// =============================================================================

@include mq($from: desktop) {
  .lead { font-size: 1.3em; }
  .break-desktop { display: block; }
  .img--thumbnail { margin-top: 0; }
}

// IE RULES
// =============================================================================

.lt-ie9 {

  .left { float: left; }
  .right { float: right; }
  label.hide {
    top: auto;
    left: auto;
    position: static;
  }
  .list--inline > li {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    &:first-child { padding-left: 0; }
  }
  .lead { font-size: 1.3em; }
  .break-desktop { display: block; }

  .img--thumbnail { margin-top: 0; }

}
