// =====================================
// SITE MODULES
// =====================================

// Repeatable design patterns like a media object.
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
