// =====================================
// SITE FOOTER MODULE
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

.site__footer {
  padding: 2em 0;
  margin-top: 2em;
  background-color: $lighterGrey;
  small { display: block; text-align: center; }
}
