// =====================================
// SITE UI MODULES
// =====================================

// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogues and your widgets and so on.
// This is the meat of the page.
// Modules sit inside Layout components.
// Modules can sometimes sit within other Modules, too.
// Each Module should be designed to exist as a standalone component.

.pagination {
  padding-top: 1em;
  text-align: center;
  padding-bottom: 1em;;
}

// BUTTONS
// =============================================================================

.btn {
  color: $cs-a1;
  line-height: 1;
  font-style: normal;
  text-align: center;
  border-radius: 0.1em;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  @include transition(0.2s);
  padding: 0.5em 1em 0.5em;
  font-weight: $lightFontWeight;
  background-color: transparent;
  border: 0.1em solid darken($cs-a1, 5%);
  &:link, &:visited { color: $cs-a1; }
  &:hover, &:active, &:focus { text-decoration: none!important; }
}

.btn--cta {
  color: $white;
  background-color: $cs-a2;
  border: 0.1em solid darken($cs-a2, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    @include transform( scale(1.2) );
    border-color: darken($cs-a2, 10%);
    background-color: darken($cs-a2, 5%);
  }
}

.btn--facebook {
  width: 8em;
  display: block;
  background-color: $cs-facebook;
  border: 0.1em solid darken($cs-facebook, 5%);
  &:hover, &:active, &:focus {
    border-color: darken($cs-facebook, 10%);
    background-color: darken($cs-facebook, 5%);
  }
}
.btn--twitter {
  width: 8em;
  display: block;
  background-color: $cs-twitter;
  border: 0.1em solid darken($cs-twitter, 5%);
  &:hover, &:active, &:focus {
    border-color: darken($cs-twitter, 10%);
    background-color: darken($cs-twitter, 5%);
  }
}

.btn--default {
  color: $cs-font;
  border-color: $lightGrey;
  background-color: $white;
  &:link, &:visited { color: $cs-font; }
  &:hover, &:active, &:focus {
    color: $cs-font;
    border-color: darken($lightGrey, 5%);
    background-color: $lighterGrey;
  }
}

.btn--primary {
  color: $white;
  background-color: $cs-btn-primary;
  border-color: darken($cs-btn-primary, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($cs-btn-primary, 10%);
    background-color: darken($cs-btn-primary, 5%);
  }
}

.btn--success {
  color: $white;
  background-color: $cs-btn-success;
  border-color: darken($cs-btn-success, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($cs-btn-success, 10%);
    background-color: darken($cs-btn-success, 5%);
  }
}

.btn--info {
  color: $white;
  background-color: $cs-btn-info;
  border-color: darken($cs-btn-info, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($cs-btn-info, 10%);
    background-color: darken($cs-btn-info, 5%);
  }
}

.btn--warning {
  color: $white;
  background-color: $cs-btn-warning;
  border-color: darken($cs-btn-warning, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($cs-btn-warning, 10%);
    background-color: darken($cs-btn-warning, 5%);
  }
}

.btn--danger {
  color: $white;
  background-color: $cs-btn-danger;
  border-color: darken($cs-btn-danger, 5%);
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($cs-btn-danger, 10%);
    background-color: darken($cs-btn-danger, 5%);
  }
}

.btn--flatlight {
  color: $white;
  border: 0.15em solid $white;
  background-color: transparent;
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus {
    color: $white;
    border-color: darken($white, 10%);
    background-color: transparent;
  }
}

.btn--flatdark {
  color: $black;
  border: 0.15em solid $black;
  background-color: transparent;
  &:link, &:visited { color: $black; }
  &:hover, &:active, &:focus {
    color: $black;
    border-color: lighten($black, 10%);
    background-color: transparent;
  }
}

.btn--inline {
  margin-right: 0.5em;
  &:last-child { margin-right: 0; }
}

.nav .home-link {
  &:link, &:visited { color: $white; }
  &:hover, &:active, &:focus { color: $cs-a2; }
}

// ALERTS
// =============================================================================

.alert {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  border: 0.1em solid $lighterGrey;
  p:first-of-type { margin-top: 0; }
  p:last-of-type { margin-bottom: 0; }
}

.alert--success {
  color: $cs-alert-success;
  border-color: lighten($cs-alert-success, 40%);
  background-color: lighten($cs-alert-success, 50%);
  a {
    &:link, &:visited { color: $cs-alert-success;  }
    &:hover, &:active, &:focus { color: $cs-alert-success; }
  }
  h1,h2,h3,h4,h5,h6 { color: $cs-alert-success; }
}

.alert--info {
  color: $cs-alert-info;
  border-color: lighten($cs-alert-info, 40%);
  background-color: lighten($cs-alert-info, 50%);
  a {
    &:link, &:visited { color: $cs-alert-info;  }
    &:hover, &:active, &:focus { color: $cs-alert-info; }
  }
  h1,h2,h3,h4,h5,h6 { color: $cs-alert-info; }
}

.alert--warning {
  color: $cs-alert-warning;
  border-color: lighten($cs-alert-warning, 40%);
  background-color: lighten($cs-alert-warning, 50%);
  a {
    &:link, &:visited { color: $cs-alert-warning;  }
    &:hover, &:active, &:focus { color: $cs-alert-warning; }
  }
  h1,h2,h3,h4,h5,h6 { color: $cs-alert-warning; }
}

.alert--danger {
  color: $cs-alert-danger;
  border-color: lighten($cs-alert-danger, 40%);
  background-color: lighten($cs-alert-danger, 50%);
  a {
    &:link, &:visited { color: $cs-alert-danger;  }
    &:hover, &:active, &:focus { color: $cs-alert-danger; }
  }
  h1,h2,h3,h4,h5,h6 { color: $cs-alert-danger; }
}

.list--underlined {
  margin-bottom: 2em;
  > li {
    line-height: 1.6;
    margin-bottom: 1.5em;
    border-bottom: 0.1em dashed $lightGrey;
  }
  a {
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}
