/* =========================================
STATAMIC.CSS
============================================

author: Gareth Redfern
version: 1.0
These are some base styles, feel free to delete them or add to them as you see fit.

SITE COLORS
===========
main color: rgb(46, 204, 113)
================================================================================== */

/* =========================================
BASE STYLES
========================================= */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /* See http://css-tricks.com/box-sizing */
}
html  {
  font-size: 100%;
  background-color: rgb(50, 50, 50);
}
body {
  color: rgb(50, 50, 50);
  line-height: 1.5;
  font-size: 0.875em;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  background-color: rgb(255,255,255);
}

h1 { font-size: 2.9em; line-height: 1.1; letter-spacing: 0.02em; }
h2 { font-size: 1.7em; line-height: 1.1; letter-spacing: 0.02em; }
h3 { font-size: 1.3em; line-height: 1.1; }
h4,h5,h6 { font-size: 0.875em; }

h1,h2,h3,h4,h5,h6 {
  color: rgb(50, 50, 50);
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
}
h1 { margin-top: 0; }
h2 { margin-bottom: 0.5em; }
h3,h4,h5,h6 { margin-bottom: 0.1em; }

h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0; }

h3 + ul, h4 + ul, h5 + ul, h6 + ul,
h3 + ol, h4 + ol, h5 + ol, h6 + ol { margin-top: 0; }

a { text-decoration: none; }
strong, b {
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
}
em, i {
  font-style: italic;
  font-weight: normal;
  font-family: sans-serif;
}
code { background-color: rgb(238, 238, 238); font-size: 0.875em; }
pre code { background-color: transparent; }
img { max-width: 100%; height: auto; }

blockquote {
  color: rgb(50, 50, 50);
  margin-left: 0;
  font-size: 1.3em;
  padding-left: 1em;
  border-left: 0.3em solid rgb(238, 238, 238);
}
ul,ol { padding-left: 0; }
dt { font-weight: bold; }
dd { margin-bottom: 1em; }
.lead { font-size: 1.2em; }
.text-left {text-align: left; }
.text-center { text-align: center;}
.text-right { text-align: right; }

/* Forms */
.form {
  width: 100%;
  padding: 1em;
  background-color: rgb(255,255,255);
  border: 0.1em solid rgb(238, 238, 238);
}
.form label { cursor: pointer; }
.form input[type],
.form textarea { padding: 0.3em; }
.form input {
  padding: 0.3em;
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  border-radius: 0;
}

/* Tables */
.table {
  width: 100%;
  background-color: rgb(255,255,255);
  border: 0.1em solid #ddd;
}
.table  caption { font-weight: bold; }
.table thead {
  text-align: left;
  text-align: center;
  background-color: rgb(238, 238, 238);
}
.table thead th { border-color: rgb(238, 238, 238); }
.table th, .table td { padding: 0.5em; border: 0.1em solid #ddd; }
.table td { text-align: left; }

.table th[scope="row"] { font-weight: normal; }
.table th[scope="rowgroup"] { vertical-align: middle; }
.table th[scope="row"],
.table th[scope="rowgroup"] { text-align: left; }

.table tbody tr:nth-of-type(even) {
    background-color: rgb(238, 238, 238);
  }
.table tfoot {
    font-size: 75%;
    background-color: rgb(238, 238, 238);
  }
.table tfoot td { text-align: center; }

/* =========================================
LAYOUT STYLES
========================================= */

.container {
  margin: 0 auto;
  max-width: 42em;
  padding: 0 1.5em;
}
.header {
  padding: 1.5em 0;
  background-color: rgb(50, 50, 50);
  border-bottom: 0.1em solid rgb(0,0,0);
}
.footer {
  padding: 1.5em;
  margin-top: 1.5em;
  background-color: rgb(50, 50, 50);
  border-top: 0.1em solid rgb(0,0,0);
}

/* =========================================
MODULE STYLES
========================================= */
.list-unstyled { padding-left: 0; list-style: none; }

.nav { text-transform: uppercase; }
.nav ul { text-align: center; margin-top: 1.8em; }
.nav li { display: inline-block; margin-right: 1em; }
.nav li:last-child { margin-right: 0; }
.header, .footer { color: rgb(255,255,255); }
.header a, .footer a { text-decoration: none; }
.logo,
.strap-line { text-align: center; margin: 0; }
.logo { font-size: 2.2em; }
.strap-line {
  font-size: 1.5em;
  font-weight: normal;
  color: rgb(153, 153, 153);
}
.footer small { display: block; text-align: center; }
.pagination { text-align: center; }
.lead a,
.main-content a { text-decoration: underline; }
.article__heading { margin-bottom: 0; }
.article__date { margin-top: 0; color: rgb(153, 153, 153); }

/* =========================================
STATE STYLES
========================================= */

a, a:visited { color: rgb(50, 50, 50); }
a:hover, a:active, a:focus { color: rgb(46, 204, 113); }
.header a, .header a:visited { color: rgb(255,255,255); }
.footer a, .footer a:visited { color: rgb(255,255,255); }

/* MUMMY BEAR - MEDIUM SIZE SCREENS
============================================================== */
@media screen and (min-width: 33em) {

  body { font-size: 1em; }

}

/* DADDY BEAR - LARGE SCREENS
============================================================== */
@media screen and (min-width: 62em;) {



}