{{ if author || date || categories_list || tags_list}}
<div class="article__meta">

  {{ if author|not_empty }}
  {{ member:profile member="{author}" }}
  <p class="article__author">Posted by: {{ first_name }} {{ last_name }}</p>
  {{ /member:profile }}
  {{ endif }}

  {{ if date }}
  <p class="article__date">Posted on: <time pubdate datetime="{{ datestamp format="Y-m-d" }}">{{ date }}</time></p>
  {{ endif }}
  
  {{ if categories_list && tags_list }}
  <p class="article__tax"><b>Category:</b> {{ categories_url_list }} | <b>Tagged:</b> {{ tags_url_list }}</p>
  {{ endif }}

  {{ if categories_list && !tags_list }}
  <p class="article__tax"><b>Category:</b> {{ categories_url_list }}</p>
  {{ endif }}

  {{ if !categories_list && tags_list }}
  <p class="article__tax"><b>Tagged:</b> {{ tags_url_list }}</p>
  {{ endif }}

</div><!-- END .article__meta -->
{{ endif }}