<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">

{{ theme:partial src="_meta" }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{# Place favicon.ico and apple-touch-icon.png in the root directory. #}}

<!-- styles -->
<!--[if gte IE 8]><!-->
<link rel="stylesheet" href="{{ theme:css }}">
<!--<![endif]-->

<!--[if lte IE 7]>
<link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
<![endif]-->

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}/feed" title="{{ _site_name }} RSS Feed">

<!-- scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ theme:js src="libs/jquery-1.9.1.min" }}"><\/script>')</script>
<script src="{{ theme:js src="libs/modernizr_dev" }}"></script>
<!--[if IE 8]>
<script src="{{ theme:js src='libs/DOMAssistantCompressed-2.8.1' }}"></script>
<script src="{{ theme:js src='libs/selectivizr-min' }}"></script>
<![endif]-->

<!-- analytics -->
{{ theme:partial src="_analytics" }}

</head>
