<nav role="navigation" class="nav--primary">
  <div class="constrain">
    <ul class="nav__list nav__list--primary">
      <li>
        <a href="{{ homepage }}"{{ if segment_1 == "" }} class="current"{{ endif }}>Home</a>
      </li>
      {{ nav from="/" max_depth="1" }}
      <li>
        <a href="{{ url }}"{{ if is_current }} class="current"{{ endif }}>{{ title }}</a>
      </li>
      {{ /nav }}
    </ul>
  </div><!-- END .constrain -->
</nav>

{{#
====================================
  NOTES
====================================

This is the main nav partial.

It uses the nav tag to render a list of navigation items. For more information on the nav tag see http://statamic.com/learn/documentation/tags/nav.

#}}
